services:

  comfyui:
    init: true
    container_name: comfyui-cpu
    build:
      context: .
      dockerfile: Dockerfile
    image: "standardcore/comfyui-boot:cpu"
    ports:
      - "8188:8188"
    volumes:
      - comfyui-root:/root
      - comfyui-models:/root/ComfyUI/models
      - comfyui-hf-hub:/root/.cache/huggingface/hub
      - comfyui-torch-hub:/root/.cache/torch/hub
      - comfyui-input:/root/ComfyUI/input
      - comfyui-output:/root/ComfyUI/output
      - comfyui-workflows:/root/ComfyUI/user/default/workflows
    environment:
      - CLI_ARGS="--cpu"

volumes:
  comfyui-root:
  comfyui-models:
  comfyui-hf-hub:
  comfyui-torch-hub:
  comfyui-input:
  comfyui-output:
  comfyui-workflows:
